.simsl_select_wrapper {
    position: relative;
    display: inline-block;
    width: 200px;
}

.simsl_select_wrapper select {
    display: none; /* Hide the default dropdown */
}

.simsl_select_items {
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    max-height: 200px;
    overflow-y: auto;
}

.simsl_select_items div {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.simsl_select_items div img {
    margin-right: 10px;
    width: 30px;
    height: 20px;
}

.simsl_select_items div:hover {
    background-color: #f1f1f1;
}

.simsl_select_wrapper.simsl_dropdown_active .simsl_select_items {
    display: block;
}

.simsl_item_selected {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
}
.simsl_item_selected img {
    margin-right: 10px;
    width: 30px;
    height: 20px;
}
.simsl_search_input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}